nav{
    width: 300px;
    margin-bottom: 20px;
    margin: 0 auto;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    padding: 5px 20px;
    background: #263238;
    color: white;
    border-radius: 5px;
}